<div class="container px-4 mt-4">
  <h2 class="text-left">Edit task</h2>
  <hr class="mt-0 mb-4">

  <%= simple_form_for([@connection, @task], html: { method: :put, multipart: true }) do |f| %>
    <div class="form-inputs text-center">
      <%= f.input :title,
                  required: false,
                  placeholder: "Title of task",
                  input_html: { autocomplete: "title", class: "input_html" } %>
      <%= f.input :description,
                  required: false,
                  placeholder: "Description of task",
                  input_html: { autocomplete: "description", class: "input_html" } %>
      <%= f.input :end_date,
                  required: false,
                  placeholder: "End date",
                  input_html: { autocomplete: "end_date", class: "input_html" } %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Save", name: 'commit_save', class: "btn btn-ghost btn-submit", id:"btn-prim" %>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to "Delete", connection_task_path(@connection, @task), data: { "turbo-method": :delete }, class: " btn btn-ghost btn-submit btn-secun" %>
  </div>
</div>
