<div class="tasks-container px-4 mt-4">

  <h2><%= @task.title.capitalize %></h2>
  <br>
  <p><strong>Description of task: </strong></p>
  <p><%= @task.description.capitalize %></p>
  <p><strong>Deadline of task:</strong></p>
    <p><i style="font-size: 0.9em;"><%= @task.end_date.strftime("%d-%m-%Y") %></i></p>




    <%= link_to "Edit", edit_task_path, class: "btn btn-submit btn-ghost d-flex align-items-center justify-content-center"%>
    <br>
    <%= link_to "Delete",connection_task_path(@connection, @task),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-ghost btn-task-delete d-flex align-items-center justify-content-center"%>
    <br>
    <%= link_to "Back to tasks",connection_tasks_path(@connection), class: "btn btn-submit btn-ghost d-flex align-items-center justify-content-center" %>

</div>
