
 <div class="col-xl-8 text-center">
            <!-- Account details card-->
                    <form>
                        <!-- Form first name (username)-->
                        <div class="mb-3">
                          <p>First name</p>
                          <input class="form-control input_html text-center" id="inputFirstName" type="text" placeholder="<%= @mentor.user.first_name %>" disabled>
                        </div>
                        <!-- Form last-name-->
                        <div class="mb-3">
                          <p>Last name</p>
                          <input class="form-control input_html text-center" id="inputLastName" type="text" placeholder="<%= @mentor.user.last_name %>" disabled>
                        </div>
                        <!-- Form email-->
                        <div class="mb-3">
                          <p>Email</p>
                          <input class="form-control input_html text-center" id="inputEmail" type="text" placeholder="<%= @mentor.user.email %>" disabled>
                        </div>
                        <!-- Form company-->
                        <div class="mb-3">
                          <p>Company</p>
                          <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=@mentor.company %>">
                        </div>
                        <!-- Form job-title-->
                        <div class="mb-3">
                          <p>Job title</p>
                          <input class="form-control input_html text-center" id="inputJobTitle" type="text" placeholder="<%= value=@mentor.job_title %>">
                        </div>
                        <!-- Form location-->
                        <div class="mb-3">
                          <p>Location</p>
                          <input class="form-control input_html text-center" id="inputLocation" type="text" placeholder="Enter your location" value="Amsterdam">
                        </div>
                        <!-- Form bio-->
                        <div class="mb-3">
                          <p>Bio</p>
                          <input class="form-control input_html text-center" id="inputBio" type="text" placeholder="write bio" value="11 years experience as wedeveloper">
                        </div>
                        <div class="form-actions">
                         <button class= "btn-ghost btn-submit justify-content-center" type="button">Save changes</button>
                      </div>
                    </form>
  </div>
