<% if current_user === @mentee.user %>
    <% photo = @mentor.user.avatar_url %>
<% else %>
    <% photo = @mentee.user.avatar_url %>
<% end %>



 <div class="col-xl-8 mt-2 text-center">

     <div class="card-header"></div>
      <div class="card-body text-center">
                    <!-- Profile picture image-->
        <img class="avatar rounded-circle mb-2" src="<%= photo %>" alt="">

      </div>

<br>
            <!-- Account details card-->
                    <form>
                        <!-- Form first name (username)-->
                        <div class="mb-3">
                          <p>first name</p>
                          <input class="form-control input_html text-center" id="inputFirstName" type="text" placeholder="<%= @mentor.user.first_name %>" disabled>
                        </div>
                        <!-- Form last-name-->
                        <div class="mb-3">
                          <p>Last name</p>
                          <input class="form-control input_html text-center" id="inputLastName" type="text" placeholder="<%= @mentor.user.last_name %>" disabled>
                        </div>
                        <!-- Form email-->
                        <div class="mb-3">
                          <p>Email</p>
                          <input class="form-control input_html text-center" id="inputEmail" type="text" placeholder="<%= @mentor.user.email %>" disabled>
                        </div>
                        <!-- Form company-->
                        <div class="mb-3">
                          <p>Company</p>
                          <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=@mentor.company %>" disabled>
                        </div>
                        <!-- Form job-title-->
                        <div class="mb-3">
                          <p>Job title</p>
                          <input class="form-control input_html text-center" id="inputJobTitle" type="text" placeholder="<%= value=@mentor.job_title %>" disabled>
                        </div>
                        <!-- Form location-->
                        <div class="mb-3">
                          <p>Location</p>
                          <input class="form-control input_html text-center" id="inputLocation" type="text" placeholder="Enter your location" value="Amsterdam" disabled>
                        </div>
                        <!-- Form bio-->
                        <div class="mb-3">
                          <p>Bio</p>
                          <input class="form-control input_html text-center" id="inputBio" type="text" placeholder="write bio" value="11 years experience as wedeveloper" disabled>
                        </div>

                    </form>
  </div>
