
 <div class="col-xl-8 text-center">

    <div class="card-header"></div>
      <div class="card-body text-center">
                    <!-- Profile picture image-->
        <img class="avatar rounded-circle mb-2" src="<%= current_user.avatar_url %>" alt="">

                    <!-- Profile picture upload button-->
          <button class="btn-ghost btn-submit justify-content-center" type="button">Upload new image</button>
      </div>
<br>

            <!-- Account details card-->
                    <form>
                        <!-- Form first name (username)-->
                        <div class="mb-3">
                          <p>First name</p>
                          <input class="form-control input_html text-center" id="inputFirstName" type="text" placeholder="<%= current_user.first_name %>" disabled>
                        </div>
                        <!-- Form last-name-->
                        <div class="mb-3">
                          <p>Last name</p>
                          <input class="form-control input_html text-center" id="inputLastName" type="text" placeholder="<%= current_user.last_name %>" disabled>
                        </div>
                        <!-- Form email-->
                        <div class="mb-3">
                          <p>Email</p>
                          <input class="form-control input_html text-center" id="inputEmail" type="text" placeholder="<%= current_user.email %>" disabled>
                        </div>
                        <!-- Form company-->
                        <div class="mb-3">
                          <p>Goal</p>
                          <input class="form-control input_html text-center" id="inputGoal" type="text" placeholder="<%= value=current_user.mentee.goal %>">
                        </div>
                        <!-- Form location-->
                        <div class="mb-3">
                          <p>Location</p>
                          <input class="form-control input_html text-center" id="inputLocation" type="text" placeholder="Enter your location" value="Amsterdam">
                        </div>
                        <!-- Form bio-->
                        <div class="mb-3">
                          <p>Bio</p>
                          <input class="form-control input_html text-center" id="inputBio" type="text" placeholder="write bio" value="11 years experience as wedeveloper">
                        </div>
                        <div class="form-actions">
                         <button class= "btn-ghost btn-submit justify-content-center" type="button">Save changes</button>
                      </div>
                    </form>
  </div>
