<br>
 <div class="col-xl-8 text-center" id="mentee-profile">

    <div class="card-header"></div>
      <div class="card-body text-center">
                    <!-- Profile picture image-->
        <img class="avatar rounded-circle mb-2" src="<%= current_user.avatar_url %>" alt="">

                    <!-- Profile picture upload button-->
          <button class="btn-ghost btn-submit btn-pp justify-content-center" type="button">Upload new image</button>
      </div>
  <br>

            <!-- Account details card-->
  <%= simple_form_for(@mentee) do |f| %>
    <div class="mb-3">
      <p>First name</p>
      <input class="form-control input_html text-center" id="inputFirstName" type="text" placeholder="<%= current_user.first_name %>" disabled>
    </div>
    <!-- Form last-name-->
    <div class="mb-3">
      <p>Last name</p>
      <input class="form-control input_html text-center" id="inputLastName" type="text" placeholder="<%= current_user.last_name %>" disabled>
    </div>
    <!-- Form email-->
    <div class="mb-3">
      <p>Email</p>
      <input class="form-control input_html text-center" id="inputEmail" type="text" placeholder="<%= current_user.email %>" disabled>
    </div>
    <div class="mb-3">
      <p>Location</p>
      <input class="form-control input_html text-center" id="inputEmail" type="text" placeholder="<%= current_user.location %>" disabled>
    </div>
    <div class="mb-3">
      <p>Bio</p>
      <textarea class="form-control input_html text-center" id="inputbio" type="text" placeholder="<%= current_user.bio %>" disabled></textarea>
    </div>
    <%= f.input :goal,
            required: false,
            placeholder: @mentee.goal,
            input_html: { autocomplete: "goal", class:"input_html text-center form-control" } %>
    <%= f.submit "Update profile", class: "btn-ghost btn-submit justify-content-center mb-3", id:"btn-prim" %>
  <% end %>
  </div>
