<%# <% if user_signed_in? %>
  <%# <% if current_user.mentor? %>
    <%# <%= render 'mentors/show' %>
  <%# <% else %>
    <%# <%= render 'mentees/show' %>
  <%# <% end %>

<div class="container px-4 mt-4">
  <% if current_user.role == 'mentor' %>
    <%= render 'mentors/my_mentees' %>
  <% else %>
    <%= render 'mentees/my_mentors' %>
  <% end %>
</div>


<% if current_user.role == 'mentor' %>
  <%= render 'mentors/my_mentees' %>
<% else %>
  <%= render 'mentees/my_mentors' %>
<% end %>
