
<div class="swiper mySwiper">
  <div class="swiper-pagination"></div>
  <div class="swiper-wrapper">
    <% @mentors.each do |mentor| %>
      <div class="swiper-slide">

        <p>Placeholder avatar</p>
        <p><%= mentor.user.avatar_url %></p>
      <form class="bio">
        <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=mentor.user.first_name%> <%= value=mentor.user.last_name%>" disabled>
        <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=mentor.job_title %>" disabled>
        <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=mentor.company %>" disabled>
        <textarea class="form-control input_html text-center" id="inputCompany" placeholder="<%= mentor.user.bio %>" disabled rows="8" cols="50"></textarea>
        <input class="form-control input_html text-center" id="inputCompany" type="text" placeholder="<%= value=mentor.user.location %>" disabled>
        </form>




      </div>
    <% end %>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  const swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>


<div class="buttons">
  <button class="btn btn-flat btn-reject">Reject</button>
  <button type="submit"  class="btn btn-flat btn-accept">Accept</button>
</div>
