
<div class="swiper mySwiper">
  <div class="swiper-pagination"></div>
  <div class="swiper-wrapper">
    <% @mentors.each do |mentor| %>
      <div class="swiper-slide">
        <p>Profile picture</p>
        <p><%= mentor.user.first_name %></p>
        <p><%= mentor.job_title %></p>
        <p><%= mentor.user.location %></p>
        <%= simple_form_for (@connection) do |f| %>
        <%= f.input :mentor_id, as: :hidden, input_html: { value: mentor.id} %>
         <%= f.input :mentee_id, as: :hidden, input_html: { value: current_user.mentee.id} %>
        <%= f.input :status, as: :hidden, input_html: { value: true} %>
        <%= f.button :submit %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  const swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>


<div class="buttons">
  <button class="btn btn-flat btn-reject">Reject</button>
  <button type="submit" id= "accept-button" class="btn btn-flat btn-accept">Accept</button>
</div>
