<br>
<div class="container px-4" data-controller='swiper reviews'>

  <!-- The Modal -->
  <% @mentors.each do |mentor| %>
    <div id="myModal" class="modal-container" data-reviews-target="modal" data-mentor-id="<%= mentor.id %>">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" data-action="click->reviews#close" data-mentor-id="<%= mentor.id %>">&times;</span>
          <%mentor.reviews.each do |review| %>
          <span class="gold">
          <% (1..5).each do |i| %>
            <% if i <= review.rating %>
            <%=  raw '&#9733;' %> <!-- This is a filled star -->
            <% else %>
             <%= raw '&#9734;' %> <!-- This is an empty star -->
            <% end %>
          <% end %>
          </span>
            <p><%= review.content %></p>
            <p class="user-review"><em>-Anonymous</em></p>
            <hr class="mt-0 mb-4">
          <% end %>
      </div>
    </div>
  <% end %>




<div class="swiper mySwiper">
  <div class="swiper-pagination"></div>
  <div class="swiper-wrapper">
    <% @mentors.each do |mentor| %>
      <div class="swiper-slide text-center">

         <%= image_tag mentor.user.avatar_url, class:"avatar-swipe " %>

         <div id="popup-link"  data-action="click->reviews#show" data-mentor-id="<%= mentor.id %>">
          <p class="btn-ghost btn-submit btn-review justify-content-center" id=star-review><strong>Reviews</strong></p>
        </div>

      <form class="bio mt-4">
        <input class="form-control input_html text-center swipe-input" id="import-input" type="text" placeholder="<%= value=mentor.user.first_name%> <%= value=mentor.user.last_name%>" disabled>
        <input class="form-control input_html text-center swipe-input" id="inputCompany" type="text" placeholder="<%= value=mentor.job_title %>" disabled>
        <input class="form-control input_html text-center swipe-input" id="inputCompany" type="text" placeholder="<%= value=mentor.company %>" disabled>
        <input class="form-control input_html text-center swipe-input" id="inputCompany" type="text" placeholder="<%= value=mentor.user.location %>" disabled></p>
        <textarea class="form-control input_html text-center swipe-input" id="inputCompany" placeholder="<%= mentor.user.bio %>" disabled rows="8" cols="50"></textarea>
        </form>

      </div>
    <% end %>
  </div>

</div>

<div class="buttons">
  <button class="btn btn-flat btn-reject">Reject</button>
  <button type="submit"  class="btn btn-flat btn-accept">Accept</button>
</div>
</div>
