<!DOCTYPE html>
<html>
  <head>
    <title>MentorMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Swiper css%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>

  <body>
        <%= render "shared/navbar" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>

  <div class="footer">
    <div class="footer-buttons">
      <a href="/user_profile">
      <i class="fa-regular fa-user fa-4x"></a></i>
<%# <%= link_to "/dashboard"(current_user) %>

<%# <div class="footer">
  <div class="footer-buttons">
    <a href="/dashboard">
      <i class="fa-regular fa-user fa-4x"></i> </a> %>
      <%# <%= link_to dashboard_path(current_user) %>

      <a href="/mentors">
      <i class="fa-solid fa-users fa-4x"></i></a>

      <a href="/timeline">
      <i class="fa-solid fa-timeline fa-4x"></i></a>

      <a href="/logout">
      <i class="fa-solid fa-arrow-right-from-bracket fa-4x"></i></a>
    </div>
  </div>
</html>
