<!DOCTYPE html>
<html>
  <head>
<link rel="icon" href="<%= asset_path('logo1.png') %>">
    <title>MentorMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Swiper css%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body class="content">
    <div class="content-top">
      <%= render 'shared/navbar' if current_user %>
      <%# <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script> %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' if current_user %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
